* {
    box-sizing: border-box;
    font-size: 10px;
	margin:0;
	padding:0;
	
}
body{
	display:grid;
	justify-content: center;
}

.main_form{
	width:50vw;
	min-height: 70vh;
	border-radius:5px;
	background-color:rgb(255,192,51);
	margin-top:5vh;
	padding-top:5vh;
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	align-items: center;
	position: relative;
}
.uid_box{
	position: absolute;
	top:1rem;
	left:1rem;
}
.info_box{
	display: flex;
	justify-content: space-between;
	width: 40%;
}
label{
	display:inline-block;
}
p {
	display:inline-block;
    font-family: verdana;
    font-size: 1.5rem;
}
input{
	border: none;
	border-bottom: 2px solid #008080;
	background: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=submit], a{
	border: 2px solid #008080;
	border-radius:3px;
	text-decoration:none;
	margin:1rem;
	color: black;
}
input[type=number] {
  -moz-appearance: textfield;
}